<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
  <table>
    <tr>
      <th>Name</th>
      <th>Skill</th>
      <th>Years</th>
      <th>Formal?</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <% user.nameskills.each do |nameskill| %>
      <td><%=user.name%></td>
      <td><%=nameskill.skill.name%> <%=nameskill.skill.context%></td>
      <td><%=nameskill.years_experience%></td>
      <td><%=nameskill.formal%></td>
      <% end %>
    </tr>
    <% end %>

  </table>

</div>
